decoration {
	border: 1px solid gray;
	/*	background: gray;*/
}

/*headerbar {
	border-top:1px solid gray;
	border-right:1px solid gray;
	border-bottom:0px solid gray;
	border-left:1px solid gray;
}
*/

/* Make Gnome Headerbars Pretty */
/* GTK 3.20 .config/gtk-3.0/gtk.css  */
headerbar {
	min-height: 0px;
	padding-left: 5px;
	/* same as childrens vertical margins for nicer proportions */
	padding-right: 4px;
}

/*headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; // same as headerbar side padding for nicer proportions 
    margin-bottom: 0px;
    margin-left: 3px;
}*/

/* shrink ssd titlebars */
.default-decoration {
	min-height: 0;
	/* let the entry and button drive the titlebar size */
	padding: 0px
}

.default-decoration .titlebutton {
	min-height: 3px;
	/* tweak these two props to reduce button size */
	min-width: 8px;
}

window.ssd headerbar.titlebar {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	min-height: 0;
}

/* button.titlebutton {
    min-height: 32px;
    min-width: 32px;
    padding: 0;
} */

/* button.titlebutton {
	min-height: 24px;
	min-width: 24px;
	padding: 0;
}

button.titlebutton.close {
	background-color: @error_color;
	color: white;
}

button.titlebutton.maximize {
	background-color: @warning_color;
	color: white;
}

button.titlebutton.minimize {
	background-color: green;
	color: white;
}

button.titlebutton.minimize:hover {
	background-color: lime;
	color: white;
} */